In [ ]:
import os
import pandas as pd
import plotly_express as px
import plotly.graph_objects as go

In [30]:
Lista_Dados=[]
Lista_arquivos = os.listdir(r"E:\Documentos-Victor\GitHub_Novo\Analise-De-Dados-E-Automacao-De-Processos\Projeto_Atualizado_01_Indicadores_de_vendas_e_devoluções\Vendas")

for arquivo in Lista_arquivos:
    if "Devolucoes" in arquivo:
        Arquivos_Importantes=pd.read_csv(f'E:\Documentos-Victor\GitHub_Novo\Analise-De-Dados-E-Automacao-De-Processos\Projeto_Atualizado_01_Indicadores_de_vendas_e_devoluções\Vendas\{arquivo}')
        Lista_Dados.append(Arquivos_Importantes)

Lista_Arquivos_Concatenados=pd.concat(Lista_Dados)
Lista_Arquivos_Concatenados.to_csv('Lista_Arquivos_Concatenados.csv', index=False)

Lista_Arquivos_Concatenados

,Unnamed: 0,SKU,Produto,Quantidade Devolvida,Data,Loja,Preço Unitário,Unnamed: 6
0,3,HL1148,Iphone,3,10/31/2018,Belo Horizonte,5300,NaN
1,6,HL7348,SmartWatch,1,2/6/2018,Belo Horizonte,1400,NaN
2,20,HL7348,SmartWatch,3,10/5/2018,Belo Horizonte,1400,NaN
3,21,HL1918,Android,1,5/26/2018,Belo Horizonte,3400,NaN
4,23,HL2714,Tablet,1,4/24/2018,Belo Horizonte,1600,NaN
...,...,...,...,...,...,...,...,...
97,477,HL9654,Televisão,5,4/5/2018,São Paulo,2500,NaN
98,478,HL6259,Notebook,1,10/27/2018,São Paulo,3500,NaN
99,486,HL7348,SmartWatch,5,4/13/2018,São Paulo,1400,NaN
100,487,HL2714,Tablet,2,9/7/2018,São Paulo,1600,NaN
101,494,HL6259,Notebook,4,6/1/2018,São Paulo,3500,NaN

In [23]:
# Loja com mais devoluções:

Loja_Devolucoes=Lista_Arquivos_Concatenados.groupby(['Loja']).sum()
Loja_Devolucoes=Loja_Devolucoes[['Quantidade Devolvida']].sort_values(by='Quantidade Devolvida', ascending=False).reset_index()
Loja_Devolucoes

             Loja  Quantidade Devolvida
0       São Paulo                   300
1       Fortaleza                   271
2  Rio de Janeiro                   221
3        Salvador                   199
4        Curitiba                   121
5    Porto Alegre                   112
6  Belo Horizonte                   107
7           Goiás                   104
8          Recife                    82

In [29]:
# Produto mais devolvido por loja;

Produto_Mais_Devolvido = Lista_Arquivos_Concatenados.groupby(['Loja', 'Produto']).sum()
Produto_Mais_Devolvido=Produto_Mais_Devolvido[['Quantidade Devolvida']].sort_values(by='Quantidade Devolvida', ascending=False)
Produto_Mais_Devolvido=Produto_Mais_Devolvido.groupby('Loja').head(1).reset_index()
Produto_Mais_Devolvido

             Loja     Produto  Quantidade Devolvida
0       Fortaleza  SmartWatch                    76
1       São Paulo  SmartWatch                    67
2        Salvador  SmartWatch                    62
3  Rio de Janeiro  SmartWatch                    51
4  Belo Horizonte  SmartWatch                    46
5    Porto Alegre  SmartWatch                    31
6        Curitiba      Tablet                    25
7           Goiás   Televisão                    25
8          Recife      Tablet                    21